*{
	box-sizing: border-box;
}
body {
	font-family: Roboto, sans-serif;
	font-weight: 400;
}
.no-scroll {
	overflow: hidden;
}
.header {
	display: flex;
	align-items: center;
	height: 104px;
	/*padding-top: 35px;*/
	/*padding-bottom: 35px;*/
	border-bottom: 1px solid #D4D4D4;
	padding-left: 34px;
	/*justify-content: space-between;*/
}
.m-menu{
	height: 100%;
	align-items: center;
	display: flex;
	flex-grow: 1;
}

.search_input{
	/*font-family: Roboto, sans-serif;*/
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	line-height: 21px;
	color: #A5A5A5;
	background-image: url("../img/search-icon.svg");
	background-repeat: no-repeat;
	background-position: center left;
	border: none;
	padding-left: 38px;
	margin-left: 34px;
}
.navigation-link {
	position: relative;
	font-family: Roboto, sans-serif;
	text-decoration: none;
	font-size: 18px;
	line-height: 21px;
	color: #363636;
	margin-right: 18px;
}
.navigation-link:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #000000;
	transform: scaleX(0);
	transition: transform 0.2s;
}
.navigation-link:hover:after {
	transform: scaleX(1);
}
.button_groupe {
	height: 100%;
	/*font-family: Roboto, sans-serif;*/
	/*font-style: normal;*/
	/*font-weight: normal;*/
}
.button {
	height: 100%;
	cursor: pointer;
}
.sign_up {
	font-size: 18px;
	line-height: 21px;
	color: #5671F6;
	border: none;
	background-color: #ffffff;
	padding: 0 34px;
	border-left: 1px solid #D4D4D4;
}
.login {
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
	background-color: #5671f6;
	border: none;
	padding: 0 50px;
}
.navigation {
	margin-right: 44px;
	margin-left: auto;
}
.line {
	height: 100%;
	width: 1px;
	margin-left: 34px;
	background-color: #D4D4D4;
}
.conteiner {
	max-width: 1130px;
	margin: auto;
}
.film {
	padding: 80px;
	border-bottom: 1px solid #D4D4D4;
}
.film-wrapper{
	display: flex;
}
.film-trailer {
	display: flex;
	flex-direction: column;
	margin-right: 60px;
}
.poster {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	width: 358px;
}
.trailer-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	border: 1px solid #d4d4d4;
	border-radius: 0 0 5px 5px;
	padding-top: 25px;
	padding-bottom: 25px;
	cursor: pointer;
	text-decoration: none;
}
.trailer-button-icon {
	margin-right: 14px;
}
.film-title {
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #363636;
	margin-top: 0;
	margin-bottom: 16px;
}
.film-subtitle {
	font-size: 18px;
	line-height: 21px;
	color: #A5A5A5;
}
.film-description {
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
	color: #000000;
	max-width: 514px;
	margin-bottom: 50px;
}
.about-film {
	display: flex;
	margin-bottom: 50px;
}
.about-text {
	display: block;
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 16px;
}
.about-text-bold {
	display: inline-block;
	width: 100px;
	vertical-align: top;
	font-weight: bold;
}
.left-side {
	margin-right: 40px;
}
.film-ratio{
	display: flex;
	align-items: center;
}
.film-ratio-value {
	font-size: 28px;
	font-weight: bold;
	color: #5671f6;
}
.film-ratio-counter {
	display: flex;
	width: 100px;
	height: 100px;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	border: 1px solid #5671F6;
	margin-right: 28px;
}
.film-ratio-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	margin-top: 0;
	margin-bottom: 12px;
}
.film-ratio-text{
	display: block;
	margin-bottom: 7px;
	font-size: 16px;
	line-height: 19px;
}
.film-ratio-text-bold{
	font-weight: bold;
}
.cast {
	padding-top: 70px;
	padding-bottom: 100px;
}
.tabs {
	display: flex;
	align-items: center;
	margin-bottom: 60px;
}
.section-title {
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	color: #A5A5A5;
	margin-right: 30px;
}
.section-title.active {
	color: #363636;
	font-weight: 900;
}
.tab {
	cursor: pointer;
}
.tabs-contant{
	display: none;
	align-items: center;
	flex-wrap: wrap;
	visibility: hidden;
}
.tabs-contant.visible {
	visibility: visible;
	display: flex;
}
.card {
	display: flex;
	align-items: center;
	flex-basis: 25%;
	margin-bottom: 35px;
}
.card-image {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
	margin-right: 20px;
}
.name {
	font-size: 16px;
	line-height: 19px;
	color: #5671F6;
	margin-top: 0;
	margin-bottom: 6px;
}
.en-name {
	color: #A5A5A5;
}
.news{
	background-color: #f3f3f3;
	padding-top: 70px;
	padding-bottom: 100px;
}
.news-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}
.news-card{
	flex-basis: 24%;
	background-color: #ffffff;
	padding: 30px;
	border-radius: 5px;
}
.section-news-title {
	margin-bottom: 65px;
	font-weight: 900;
	color: #000000;
}
.news-date {
	font-size: 14px;
	line-height: 16px;
}
.news-title {
	font-weight: 900;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
	margin-top: 14px;
}
.mobile-buttons{
	display: none;
}
.m-menu-button {
	padding: 5px;
	background-color: white;
	border: none;
	cursor: pointer;
}
.search-button{
	padding: 5px;
	background-color: white;
	border: none;
	cursor: pointer;
}
.menu-line{
	display: block;
	height: 2px;
	background-color: black;
	width: 16px;
	margin-top: 2px;
	margin-bottom: 2px;
	border-radius: 40px;
	flex-basis: 16px;
}
.button-next {
	background-color: transparent;
	border: none;
	display: none;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	z-index: 99;
	cursor: pointer;
}
@media (max-width: 1200px) {
	.conteiner{
		max-width: 960px;
	}
	.card-image{
		width: 70px;
		height: 70px;
	}
	.header{
		height: 90px;
		padding-left: 15px;
	}
	.sign_up {
		padding: 0 15px;
	}

	.navigation {
		margin-right: 15px;
	}
	.search_input{
		margin-left: 15px;
	}
	.navigation-link {
		margin-right: 10px;
		font-size: 16px;
	}
	.header_logo:after {
		margin-left: 15px;
	}
}
@media (max-width: 992px) {
	.conteiner {
		max-width: 760px;
	}
	.navigation {
		display: none;
	}
	.search_input {
		margin-right: auto;
	}
	.film-title {
		font-size: 24px;
		line-height: 1.4;
	}
	.film-subtitle {
		margin-bottom: 20px;
	}
	.film-description	.about-film {
		margin-bottom: 30px;
	}
	.about-text-bold{
		display: block;
		margin-bottom: 10px;
	}
	.card-image{
		width: 100px;
		height: 100px;
	}
	.card{
		flex-basis: 50%;
	}
	.news-card{
		flex-basis: 48%;
		margin-bottom: 20px;
	}
	.button-next{
		display: block;
	}
}
@media (max-width: 768px){
	.conteiner{
		max-width: 560px;
	}
	.header{
		height: 80px;
	}
	.m-menu{
		display: none;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		position: fixed;
		left: 0;
		top: 68px;
		right: 0;
		bottom: 0;
		background: #5671F6;
		height: calc(100% - 68px);
	}
	.m-menu.active{
		display: flex;
	}
	/*.m-menu.active{*/
	/*	display: flex;*/
	/*}*/
	.navigation{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0;
	}
	.navigation-link{
		margin-bottom: 18px;
		color: #ffffff;
		margin-right: 0;
	}
	.navigation-link:last-child{
		margin-bottom: 0;
	}
	.button_groupe{
		display: flex;
		height: auto;
		flex-direction: column;
	}
	.search_input{
		width: 260px;
		height: 50px;
		border-radius: 5px;
		border: none;
		background-image: none;
		margin: 0;
	}
	.sign_up{
		background-color: transparent;
		color: #ffffff;
		border: none;
		margin-bottom: 30px;
	}
	.film {
		padding-top: 50px;
		padding-bottom: 60px;
	}
	.film-wrapper{
		flex-wrap: wrap;
	}
	.film-text {
		order: -1;
		margin-bottom: 30px;
	}
	.cast{
		padding-top: 50px;
		padding-bottom: 70px;
	}
	.news{
		padding-top: 50px;
		padding-bottom: 70px;
	}
	.news-card {
		width: 90%;
	}
	.mobile-buttons{
		display: block;
		margin-left: auto;
	}
	.header_logo:after{
		display: none;
	}
	.line{
		display: none;
	}
	/*.button_groupe{*/
	/*	display: none;*/
	/*}*/
	/*.search_input{*/
	/*	display: none;*/
	/*}*/
	.header{
		padding-left: 2.5%;
		padding-right: 2.5%;
	}

}
@media (max-width: 576px){
	.conteiner{
		width: 95%;
	}
	.search_input:focus{
		width: auto;
	}
	.film-text {
		order: 1;
		margin-bottom: 0;
	}
	.search_input{
		order: 1;
		margin-bottom: 0;
	}
	.film-title{
		font-size: 20px;
		line-height: 23px;
		margin-bottom: 12px;
	}
	.film-subtitle{
		font-size: 14px;
		line-height: 16px;
	}
	.film-description{
		font-size: 14px;
		line-height: 150%;
		margin-bottom: 40px;
	}
	.about-film{
		flex-wrap: wrap;
		flex-direction: column;
		margin-bottom: 40px;
	}
	.about-text-bold{
		display: inline-block;
	}
	.film-trailer,
	.poster{
		width: 100%;
	}
	.film-trailer{
		margin-bottom: 30px;
	}
	.card{
		flex-basis: 100%;
	}
	.card-image{
		width: 60px;
		height: 60px;
	}
	.tabs{
		margin-bottom: 35px;
	}
	.cast{
		margin-bottom: 50px;
	}
	.news-card{
		flex-basis: 90%;
	}
}