body {
	font-family: Roboto, sans-serif;
	font-weight: 400;
}
.header {
	display: flex;
	align-items: center;
	height: 104px;
	/*padding-top: 35px;*/
	/*padding-bottom: 35px;*/
	border-bottom: 1px solid #D4D4D4;
	padding-left: 34px;
	justify-content: space-between;
}
.search_input{
	/*font-family: Roboto, sans-serif;*/
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	line-height: 21px;
	color: #A5A5A5;
	background-image: url("../img/search-icon.svg");
	background-repeat: no-repeat;
	background-position: center left;
	border: none;
	padding-left: 38px;
	margin-left: 34px;
}
.navigation-link {
	position: relative;
	font-family: Roboto, sans-serif;
	text-decoration: none;
	font-size: 18px;
	line-height: 21px;
	color: #363636;
	margin-right: 18px;
}
.navigation-link:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #000000;
	transform: scaleX(0);
	transition: transform 0.2s;
}
.navigation-link:hover:after {
	transform: scaleX(1);
}
.button_groupe {
	height: 100%;
	/*font-family: Roboto, sans-serif;*/
	/*font-style: normal;*/
	/*font-weight: normal;*/
}
.button {
	height: 100%;
	cursor: pointer;
}
.sign_up {
	font-size: 18px;
	line-height: 21px;
	color: #5671F6;
	border: none;
	background-color: #ffffff;
	padding: 0 34px;
	border-left: 1px solid #D4D4D4;
}
.login {
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
	background-color: #5671f6;
	border: none;
	padding: 0 50px;
}
.navigation {
	margin-right: 44px;
	margin-left: auto;
}
.line {
	height: 100%;
	width: 1px;
	margin-left: 34px;
	background-color: #D4D4D4;
}
